@{
    ViewData["Title"] = "Inicio";
}
<link rel="stylesheet" href="~/css/home.css"/>
<script src="~/js/home.js"></script>
<aside class="contentMain text-center">
    <aside class="contentHead">
        <h1 class="display-4">Bienvenido a Libros Master 3K</h1>
        <p>
            Puedes buscar todos nuestros libros a disposición con tal solo visitar nuestra sección de <i>Libros</i>
            <br />
            Pero si mas bien deseas ser parte de nuestra comunidad para aprovechar de nuestras ventajas, lo/la invitamos a suscribirse <i>AQU&Iacute;</i>
        </p>
    </aside>
    <aside class="contentBody">
        <aside class="contentHead">
            <h2>Nuestros últimos libros</h2>
        </aside>
        <aside class="table-wrapper">
            <table class="fl-table" id="tablebooksNew">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Edición</th>
                        <th>Escritor(a)</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                        <td>Content 1</td>
                        <td>Content 1</td>
                        <td>Content 1</td>                        
                    </tr>
                    <tr>
                        <td>Content 1</td>
                        <td>Content 1</td>
                        <td>Content 1</td>
                    </tr>

                </tbody>
            </table>
        </aside>
    </aside>
</aside>