@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "Libro Solicitado";
}
<section class="contentOrderBook visible">
    <aside class="contentHead">
        <h2>
            Libros Solicitados            
        </h2>
        <p>
            En este espacio podrá ver todos los libros solicitados
            <br />
            Además, podrá hacer devolución de uno de estos mismo con el botón <span class="icon"><i class="fa-solid fa-paper-plane"></i></span>
            <br />
            En caso que el botón a disposición sea el siguiente <span class="icon"><i class="fa-solid fa-info"></i></span> significa que ya fue entregado y presionándolo
            podrá ver la fecha que realizó la devolución
        </p>
    </aside>
    <aside class="contentBody expand">
        <aside class="row row-searchBook">
            <label>Buscar Libro</label>
            <input type="text" class="tbInput tbSearch" id="tbSearch" autocomplete="off">
        </aside>
        <aside class="table-wrapper">
            <table class="fl-table" id="tablebooksordered">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Edición</th>
                        <th>Editorial</th>
                        <th>Escritor(a)</th>
                        <th>Solicitado</th>
                        <th>F. Devolución</th>
                        <th>Opción</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </aside>
    </aside>    
</section>