@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<aside class="modalBooks">
    <aside class="modalContent">
        <aside class="modalHead">
            <h3>Prestamo de Libro</h3>
            <i class='btnCloseModal bx bx-x'></i>
        </aside>
        <aside class="modalBody">
            <table class="fl-table" id="tableBooksPreOrder">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Edición</th>
                        <th>Editorial</th>
                        <th>Escritor(a)</th>
                        <th>Opción</th>
                    </tr>
                </thead>
                <tbody>                    
                </tbody>
            </table>
            <aside class="row">
                <label>Fecha de Devolución</label>
                <input type="date" class="tbInput tbDate" autocomplete="off">
            </aside>
        </aside>
        <aside class="modalFoot">
            <i class='btnSend bx bx-send'></i>
            <i class='btnCloseModalAlt bx bx-window-close'></i>
        </aside>
    </aside>
    <link rel="stylesheet" href="../../css/objects/modalBooks.css" />
    <script src="../../js/objects/modalBooks.js"></script>
</aside>
